.assistant {
  font-size: 0.5em;
  text-align: center;
  width: 20%;
}

.assistant a {
  color: white;
  text-decoration: none;
}

.assistant a:hover {
  color: cyan;
}

.assistant .avatar {
  border-radius: 50%;
  margin-top: 4em;
  margin-bottom: 1em;
  width: 150px;
  height: 150px;
}

.avatar {

}

.board {
  margin: 0 auto;
  padding-bottom: 5em;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.body {
  background: #582D41;
}

.hacktoberfest-action {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4em;
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
  padding-bottom: 5em;
}

.hacktoberfest-cyan-text {
  color: #01FFFF;
}

.hacktoberfest-blue-text {
  color: #2B81D9;
}

.hacktoberfest-orange-text {
  color: #FF9A56;
}

.hacktoberfest-date {
  color: #FF9A56;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 6em;
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.hacktoberfest-decription {
  background: #582D41;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
}

.hacktoberfest-decription .container {
  margin-top: 0px;
}

.hacktoberfest-decription .col-lg-4 {
  margin-top: 4em;
}

.hacktoberfest-countdown {
  color: #FF9A56;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  font-weight: bold;
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.hacktoberfest-location {
  color: #01FFFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2em;
  -ms-transform: skewY(-5deg);
  -webkit-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.hacktoberfest-header {
  background: #582D41;
  text-align: center;
}

.hacktoberfest-header .container {
  padding-top: 10em;
  padding-bottom: 10em;
}

.w-100 {
  width: 100%;
}
